.wrapper

  = render 'side/side-ber' 

  .chat-main
    .header
      .header-box
        .header-box__name
          = @group.name
        .header-box__member
          Member : 
          .header-box__member__menber-name
            メンバー メンバー メンバー
      .header-edit
        .header-edit__button
          =link_to edit_group_path(@group) do
            Edit           
    .messages
      -@messages.each do |message|
        .message       
          .message-box 
            .message-user
              = message.user.nickname
            .message-date
              = message.created_at
          .message-body
            - if message.body.present?
              =message.body
            = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
    .form 
      = form_for [@group,@message] do |f|
        = f.text_field :body, class: 'form__message',placeholder: 'type=message'
        .form__mask
          = f.label :image,class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send',class: 'form__submit'